/* Top Nav bar stylings */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.topleft li {
    float: left;
}

.topright li {
    float: right;
}

.nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

a.signin {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: 4px;
    width: 50px;
    height: 20px;
    text-decoration: none;
    background-color: hsl(217, 88%, 60%);
    color: azure;
    text-align: center;
}

.gapps {
    width: 30px;
    height: 30px;
    position: relative;
    top: -5px;
}

/* Logo, Search Bar and Buttons */

.search {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 190px;
    position: relative;
    top: 100px;
    flex-direction: column;
}

.logo {
    background-color: white;
    align-self: center;
}

#searchbar {
    width: 550px;
    height: 35px;
    border-radius: 20px;
    margin-left: 430px;  
    margin-top: 25px;  
}

.buttons {
    background-color: red;
    display: flex;
    width: 100%;
    height: 75px;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.searchbutton {
    width: 125px;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
}

.lucky {
    width: 125px;
    height: 35px;
    margin-left: 5px;
    border-radius: 5px;
}

/* Footer */

.footer {
    width: 100%;
    background-color: rgb(143, 74, 207);
}

.footer a{
    display: block;
    padding: 8px;
    text-decoration: none;
}
.bottomleft li {
    float: left;
    color: white;
}

.bottomright li {
    float: right;
    color: white;
}