/* Flex Box setup */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    margin: auto;
    width: 960px;
    overflow-y: hidden;
}

header {
    height: 64px;
    background-color: white;
    margin-top: 10px;
    width: auto;

}

footer {
    height: 40px;
    background-color: #ececec;
    
}

* {
    margin: 0;
}

/* Top Nav bar stylings */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.topleft li {
    float: left;
    margin-left: 10px;
}

.topright li {
    float: right;
}

.nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    
}

a {
    color: black;
}

a.signin {
    appearance: auto;
    border-radius: 2px;
    width: 60px;
    height: 14px;
    text-decoration: none;
    background-color: hsl(217, 88%, 60%);
    color: azure;
    text-align: center;
    margin: 4px 15px;
    font-family: arial,sans-serif;
    font-size: 12;
    padding-top: 4px;
}

.gapps {
    width: 30px;
    height: 30px;
    position: relative;
    top: -5px;
}

/* Logo, Search Bar and Buttons */

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 190px;
    position: relative;
    top: 100px;
    flex-direction: column;
}

.logo {
    background-color: white;
    align-self: center;
    padding-bottom: 100px;
    resize: none;
    z-index: -1;
}

input#searchbar {
    text-indent: 9%;
}
 
#searchbar {
    position: absolute;
    width: 50%;
    height: 38px;
    border-radius: 20px;
    margin-left: 25%;  
    margin-top: 2%;  
    outline: none;
    resize: none;
}

.icons {
    position: relative;
    width: auto;
}

.magnify {
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 3%;
    left: 26.5%;
    resize: none;
}

.microphone {
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 3%;
    right: 26.5%;
    resize: none;
}

.buttons {
    display: flex;
    width: 100%;
    height: 75px;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    
}

.searchbutton {
    width: 15%;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 1%;
    resize: none;
    background-color: #f5f5f5;
}

.lucky {
    width: 15%;
    height: 35px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 1%;
    resize: none;
    background-color: #f5f5f5;
}

/* Footer */


.footer a{
    display: block;
    padding: 8px;
    text-decoration: none;
    width: auto;
    
}
.bottomleft li {
    float: left;
    color: white;
}

.bottomright li {
    float: right;
    color: white;
}